
.shrimp {
  /*font-family: 'Bebas Neue';*/
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-top: 25px;
  margin-left: 180px;
}


.shrimp1 {
  padding-top: 9px;
  margin-left: 235px;
  /*font-family: 'Bebas Neue';*/
  font-family: "GillSans-Bold";
  font-size: 22px;
  text-decoration: none;
}

.shrimp2{
  padding-top: 398px;
  margin-left: 940px;
  /*font-family: 'Bebas Neue';*/
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-decoration: none;
}


.shrimp3 {
  padding-top: 15px;
  margin-left: 980px;
  /*font-family: 'Bebas Neue';*/
  font-family: "GillSans-Bold";
  font-size: 22px;
  text-decoration: none;
}
